.author {
    color: black;
    font-weight: bold;
    font-size: medium;
    margin-right: 10px;
}

.date {
    color: gray;
}

.title {
    color: black;
    font-size: x-large;
    margin-bottom: 20px;
}

.summary {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 1%;
    width: 100%;
    padding: 1%;
}

.box:hover {
    background-color: rgba(182, 255, 255, 0.094);
    border-radius: 10px;
}